<div class="container confirm-container">
  <div class="row">
    <div class="col-md-6">
      <h1>Request accepted</h1>

      <img id="confirm-logo" src="https://res.cloudinary.com/darzjo72b/image/upload/v1574936115/meat/logo_bqkwnp.png">

    </div>
    <div class="col-md-6">
      <img id="sandwich" src="https://res.cloudinary.com/darzjo72b/image/upload/v1574952057/meat/eaters-collective-Gg5-K-mJwuQ-unsplash_p8gqca.jpg">
    </div>
  </div>
</div>

