<div class="info">
    
    <br><br>

    <ul>
        {{#each events}}
        <li>
          <p>{{this.name}}: 
            <a href="/places/{{this._id}}">Ver detalles del place</a>

            <a href="/places/{{ this._id}}/update">Editar</a>
            |
            <a href="/places/{{ this._id }}/delete">Borrar</a>
          </p>
        </li>
        {{/each }}
    </ul>
    {{!-- <figure id="map"></figure> --}}
</div>

    <figure id="map"></figure>



<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="/javascripts/listmap.js"></script>

<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDG88rK2sVwRDbZIJautuIZpNt32kAQpSU&callback=initMap"></script>