<section>
  <header>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source
        src="https://res.cloudinary.com/darzjo72b/video/upload/v1574935637/meat/coverr-sauce-1568018094194_sxcmtq.mp4"
        type="video/mp4">
    </video>
  </header>
</section>

<section>
  <header>
    <h1>{{title}}</h1>
    <p> Slogan </p>
  </header>

  <h2>How does it work?</h2>

  <article>
    <h3>Events</h3>

    <p>
      Is your fridge as empty as your stomach, but you don't feel like cooking? We've got you covered!
      Foodies in your area are already preparing food for you! All you need to do is search for an event and request a
      place at their table.
      Once the host has accepted your request, go to their place at the given time and fill your tummy with
      delicousness.
    </p>

    <p>
      Want to show off your excellent cooking skills? Want to meet new people who share your love for food?
      Create a breakfast, lunch or dinner, tell foodies in your area when and where you are serving food and accept the
      guests you want at your table.
      Who knows, maybe you will make some new taste bud-dies.
    </p>

  </article>

  <article>
    <h3>Recipes</h3>
    <p>
      Hungry but unimaginative? You're not alone.
      We understand your struggle and want to support you through this dark time.
      You tell us what you have in your fridge, we do the thinking. Our "what's in your fridge?" tool shows you all the
      yummy dish you can cook with the ingredients you already have.
      There is a list of over 2 milion recipes waiting for you. You're welcome.
    </p>
  </article>

</section>