/* ORANGE: #f37a00
RED: #e24a00
YELLOW: #feb100 */

/* ------------------------ general styles ---------------------- */
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: rgb(84, 83, 82)
}

a {
  color: rgb(84, 83, 82);
}

a:hover {
  text-decoration: none;
  font-weight: bold;
}

h1 {
  text-transform: uppercase;
  color: #e24a00;
}

/*---NAVBAR SETTINGS---*/
.navbar-logo {
  width: 150px;
  height: 40px;
}

nav {
  background: #e24a00;
}

nav a {
  color: white;
}

nav a:hover {
  color: white;
}


/*---RECIPES SEARCH---*/

.filter-box {
  background-color: #f37a00;
  box-shadow: 3px 3px 25px rgb(84, 83, 82);
  padding: 25px;
  position: fixed;
  margin-left: 900px;
  border-radius: 25px;
  color: white;
}

.recipe-filter p {
  text-align: center;
  font-size: 16px;
}

.recipe-info {
  padding-right: 200px;
  font-size: 18px;
  color: #e24a00;
}

.recipe-info a {
  font-size: 14px;
  color: rgb(84, 83, 82);
}

.recipe-info img {
  border-radius: 25px;
  width: 150px;
  height: 150px;
  box-shadow: 3px 3px 25px rgb(84, 83, 82);
}

/* ------------------------------ index --------------------------- */

video {
  width: 100vw;
  height: 60vh;
  object-fit: cover;
  z-index: -100;
}

.text-align {
  color: rgb(84, 83, 82);
  text-align: justify;
}

.text-align h3 {
  color: #e24a00;
  text-transform: uppercase;
}

.index-h2 {
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  margin-top: 50vh;
}

.index-h2 h2 {
  font-size: 50px;
  color: white;
  text-shadow: 3px 3px 10px rgb(84, 83, 82);
  position: relative;
  z-index: 100;
}

/* ------------------------------ signup --------------------------- */
/* ------------------------------ signup + Login --------------------------- */

.background {
  background: url(https://res.cloudinary.com/darzjo72b/image/upload/v1574952064/meat/jakub-kapusnak-sDbj1dFlFPU-unsplash_sm1ahn.jpg);
  background-size: cover;
}

.box {
  margin-top: 20px;
  box-shadow: black 2px 2px 15px;

}

.margin {
  margin-top: 80px;
  margin-left: 220px;
  margin-right: 200px;
}

.padding-login {
  margin-bottom: 70px;
}

.signup-title {
  text-align: center;
}

.checkbox-signup {
  background: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 10%;
}

.singup-form label {
  font-weight: 800;
}

.create-account {
  padding: 17px;

  background: #e24a00;
  border: #e24a00;
  border-radius: 10%;
  color: white;
}
.error-message {
  font-weight: bolder;
  font-size: 20px;
  padding: 15px;
  color: #e24a00;
}

.login-button {
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}

.auth-center {
  text-align: center;
}

/* ----------------------------- profile ------------------------- */

.profile-box {
  padding: 10px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: black 2px 20px 15px;
}

.img-div {
  width: 250px;
  height: 250px;
  border-radius: 250px;
}

.box-profile {
  margin-top: 15px
}

.bg-profile {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

/* ------------------------------- maps -----------------------------*/

/*# sourceMappingURL=style.css.map */
#map {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
}

#onemap {
  height: 100%;
  width: 110%;
  box-shadow: 1px 3px 5px rgb(84, 83, 82);
}

#createmap {
  height: 100%;
  width: 100%;
}




/*-------------------------- RATING --------------------*/
.star-rating__stars {
  position: relative;
  height: 2rem;
  width: 12rem;
  background: url("../images/off-star.png");
  background-size: 2rem 2rem;
}

.star-rating__label {
  position: absolute;
  height: 100%;
  background-size: 2rem 2rem;
}

.star-rating__input {
  margin: 0;
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.star-rating__stars .star-rating__label:nth-of-type(1) {
  z-index: 5;
  width: 20%;
}

.star-rating__stars .star-rating__label:nth-of-type(2) {
  z-index: 4;
  width: 40%;
}

.star-rating__stars .star-rating__label:nth-of-type(3) {
  z-index: 3;
  width: 60%;
}

.star-rating__stars .star-rating__label:nth-of-type(4) {
  z-index: 2;
  width: 80%;
}

.star-rating__stars .star-rating__label:nth-of-type(5) {
  z-index: 1;
  width: 100%;
}

.star-rating__input:checked+.star-rating__label,
.star-rating__input:focus+.star-rating__label,
.star-rating__label:hover {
  background-image: url("../images/on-star.png");
}

.star-rating__label:hover~.star-rating__label {
  background-image: url("../images/off-star.png");
}


/*-------------------------- EVENTS DETAILS --------------------*/

.details-container {
  margin-top: 1%
}

.details-container h1 {
  color: #E24A00;
  font-size: 2.5rem;
  text-transform: uppercase
}

#details-username {
  font-size: 1.5em;
  text-transform: uppercase;
}

.details-container a:hover {
  color: #E24A00
}

#button-details {
  margin-right: 10px
}

#details-border{
  border: solid 5px #F37A00;
  padding: 20px 30px 30px 30px;
  margin-right: 90px;
  box-shadow: 1px 3px 5px rgb(84, 83, 82);

}



/*-------------------------- CREATE DETAILS --------------------*/

.create-container {
  margin-top: 5%
}

.create-container h1 {
  color: #E24A00;
  font-size: 2.5rem;
  text-transform: uppercase
}


/*-------------------------- REQUEST CONFIRMATION --------------------*/

.request-container {
  margin-top: 5%
}

.request-container h1 {
  text-align: center;
  color: #E24A00;
  text-transform: uppercase;
  margin: 60px 0 40px 0
}

.request-container p {
  text-align: center;
}

#request-logo {
  width: 200px;
  display: block;
  margin: 100px auto 0 auto;
}

#hamburger {
  width: 600px;
  border-radius: 2%;
  box-shadow: 1px 3px 5px rgb(84, 83, 82);

}

/*-------------------------- REQUEST APPROVED --------------------*/

.confirm-container {
  margin-top: 5%
}

.confirm-container h1 {
  text-align: center;
  color: #E24A00;
  text-transform: uppercase;
  margin: 60px 0 40px 0
}

.confirm-container p {
  text-align: center;
}

#confirm-logo {
  width: 200px;
  display: block;
  margin: 100px auto 0 auto;
}

#sandwich {
  width: 600px;
  border-radius: 2%;
  box-shadow: 1px 3px 5px rgb(84, 83, 82);

}


/* CREATE EVENT */

.create-background {
  background: url("https://res.cloudinary.com/darzjo72b/image/upload/v1574968180/meat/travis-yewell-UaQCpG0frpI-unsplash_1_fam8sz.jpg");
  background-size: cover;
}

.create-backbox {
  background: rgba(255, 255, 255, 0.7);
  padding: 5px;
  border-radius: 5%;
}
