body {
  padding: 50px;
  background-color: rgb(255, 186, 48);
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.profile-box {
  border: 1px solid red;
}

#map {
  height: 50vh;
  width: 80vw;
}
#onemap {
  height: 90vh;
  width: 45vw;
}
