<div class="container">
<h1>What's in your Fridge?</h1>

<input id="ingredients" type="text" />
<button id="button">Get Recipe</button>

<br> <hr> <br>

<p id="recipeName"></p>
<br>
<p id="recipeUrl"></p>


</div>