<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<div class="container">

  <h1>All Recipes</h1>
<div class="row">
  <div class= "col-md-8 recipe-container">

<p>Filter to find your perfect recipe!</p>

  </div>

  <div class="col-md-2">
    <div class="form-check">
      <input name="see all" type="checkbox" class="form-check-input" id="see-all">
      <label class="form-check-label" for="see-all">See all recipes</label>
    </div>

  <br>

    <div class="form-check">
      <input name="veg" type="checkbox" class="form-check-input" id="vegetarian">
      <label class="form-check-label" for="vegetarian">Vegetarian</label>
    </div>
<br>
    <div class="form-check">
      <input name="vegan" type="checkbox" class="form-check-input" id="vegan">
      <label class="form-check-label" for="vegan">Vegan</label>
    </div>
<br>
    <div class="form-check">
      <input name="dairyFree" type="checkbox" class="form-check-input" id="dairyFree">
      <label class="form-check-label" for="dairyFree">Dairy-Free</label>
    </div>
<br>
    <div class="form-check">
      <input name="glutenFree" type="checkbox" class="form-check-input" id="glutenFree">
      <label class="form-check-label" for="glutenFree">Gluten-Free</label>
    </div>
<br>
    <div class="form-check">
      <input name="nutFree" type="checkbox" class="form-check-input" id="nutFree">
      <label class="form-check-label" for="nutFree">Nut-Free</label>
    </div>
<br>
    <div class="form-check">
      <input name="shellfishFree" type="checkbox" class="form-check-input" id="shellfishFree">
      <label class="form-check-label" for="shellfishFree">Shellfish-Free</label>
    </div>
  </div>

</div>

</div>


<script type="text/javascript" src="javascripts/APIhandler.js"></script>
<script type="text/javascript" src="javascripts/index.js"></script>