<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<div class="container">
  <h1>All Recipes</h1>

  <div class="recipe-container">


    <button id="see-list">See all recipes</button>

  </div>

</div>


<script type="text/javascript" src="javascripts/APIhandler.js"></script>
<script type="text/javascript" src="javascripts/index.js"></script>